 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
			<h2>{{site.menu.about}}</h2>
                    <!-- <hr class="star-light"> -->
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>{{ site.nosotros.p1 }}</p>
                </div>
                <div class="col-lg-4">
                    <p>{{ site.nosotros.p2 }}</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> {{ site.nosotros.button }}
			
                    </a>
                </div>
            </div>
        </div>
    </section>
